/* Custom Colors */
:root {
    --primary-color: #039DCB;
    --secondary-color: #DF7E1F;
    --nav-bg-color: #f7f7f7;
    --nav-text-color: #0D5492;
    --text-color: #545454;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

/* Navbar styles */
.navbar {
    background-color: var(--nav-bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 60px;
}

.navbar-nav .nav-link {
    color: var(--nav-text-color);
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

/* Social Media Icons */
.navbar-nav .social-icons {
    font-size: 20px;
    margin-left: 20px;
}

.navbar-nav .social-icons a {
    color: var(--nav-text-color);
    margin-right: 10px;
    transition: color 0.3s ease;
}

.navbar-nav .social-icons a:hover {
    color: var(--secondary-color);
}

.text-block {
    display: block;
    text-align: left;
    margin-bottom: 20px; /* Space between paragraphs */
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Hero Section */
.hero-section {
    background-color: #f0f8ff;
    padding: 100px 0;
    padding-bottom: 45px;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.hero-section p {
    color: var(--nav-bg-color);
}

.hero-img {
  background-image: linear-gradient(rgba(18, 11, 11, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-section h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    animation: slideInDown 1s ease-in-out;
}

.hero-section p {
    font-size: 1.25rem;
    margin-top: 20px;
    animation: fadeInUp 1.5s ease-in-out;
}

.btn-custom {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--secondary-color);
}

.local-img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    border-radius: 200px;
}

#conditions ul,
#expertises ul,
#mission ul {
    text-align: left;
    list-style-position: inside;
    padding-left: 20px;
}

.content {
    padding: 50px 15px;
    text-align: center;
    animation: fadeInUp 1.5s ease-in-out;
}

.card-review {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 7px;
}

.card-review:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-review img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 300px; 
    height: 200px; 
    border-radius: 20px;
}

.carousel-item img {
    width: 400px;
    height: 600px;
    object-fit: cover; 
    margin: 0 auto; 
    border-radius: 75px;
}

.carousel {
    display: flex;
    justify-content: center;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 18px;
    z-index: 1000;
    display: none;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer {
    background-color: var(--nav-text-color);
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }

    .navbar-brand img {
        max-height: 50px;
    }

    .navbar-nav .nav-link {
        margin-right: 10px;
    }

    .card-body {
        padding: 10px;
    }

    .btn-custom {
        font-size: 16px;
        padding: 10px 20px;
    }

    .back-to-top {
        bottom: 10px;
        right: 10px;
    }
}